<!doctype html>
<html>
	<head>
		<title>Game of Thrones-ify</title>
		<meta name="content" content="Game of Thrones-ify">
		<link rel="stylesheet" href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/skeleton.css">
		<link rel="stylesheet" href="../static/css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>

			<div class="hero">
				<header class="sixteen columns">
					<h1>Game of Thrones-ify</h1>
					<h2>Make any song better by turning it into the Game of Thones theme song</h2>
				</header>
			</div><!--hero-->

			<div id="resource-container">

				<a href="upload-here">
					<img class="upload here" boarder="0" alt="upload song" src="../static/images/upload.png" onmouseover="this.src='../static/images/upload_RO.png'" onmouseout="this.src='../static/images/upload.png'">
				</a>

				<a href="play here">
					<img class="play here" boarder="0" alt="play song" src="../static/images/play.png" onmouseover="this.src='../static/images/play_RO.png'" onmouseout="this.src='../static/images/play.png'">
				</a>

			</div> <!--resource-container-->
			
			<footer>
				Rachel Bittner + Ian Lyckland
				<br>
				Monthly Music Hack Day
			</footer>
	</body>
</html>